{% from "templates/_macros.html" import ghost_button %}
<header class="bg-background sticky top-0 z-50 w-full" view-transition-name="header">
    <div class="container-wrapper 3xl:fixed:px-0 px-6">
        <div class="3xl:fixed:container flex h-(--header-height) items-center gap-2 **:data-[slot=separator]:!h-4">
            {% include "templates/partials/burger.html" %}
            {% include "templates/partials/site_title.html" %}
            {% if config.theme.topbar_sections %}
            {% include "templates/header_navigation.html" %}
            {% endif %}
            <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end">
                <div class="hidden w-full flex-1 md:flex md:w-auto md:flex-none">
                    {% include "templates/search.html" %}
                </div>
                {% block header_extra %}{% endblock %}
                {% if config.repo_url %}
                {% include "templates/partials/header_vertical_separator.html" %}
                {% include "templates/partials/repo.html" %}
                {% endif %}


                {% if "mike" in config.plugins %}
                {% include "templates/partials/header_vertical_separator.html" %}
                {% include "templates/version_select.html" %}
                {% endif %}

                {% include "templates/partials/header_vertical_separator.html" %}
                {% include "templates/partials/toggle_layout.html" %}
                {% include "templates/partials/header_vertical_separator.html" %}
                {% include "templates/partials/theme_switch.html" %}
            </div>
        </div>
    </div>
</header>