<div id="toc" class="no-scrollbar overflow-y-auto px-8">
    <div class="flex flex-col gap-2 p-4 pt-0 text-sm">
        <p class="text-muted-foreground bg-background sticky top-0 h-6 text-xs">On This Page</p>
        {% if page.toc %}
        {% set toc_items = page.toc | list %}
        {% set first_toc_item = toc_items | first %}
        {% if first_toc_item and first_toc_item.level == 1 %}
        {% set toc_items = first_toc_item.children %}
        {% endif %}
        {% if toc_items %}
        <ul class="flex flex-col gap-2">
            {% for toc_item in toc_items %}
            {% include "components/toc_item.html" %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endif %}

    </div>
    <div class="h-12"></div>

</div>
